/* src/App.css */
.App {
  text-align: center;
  background: url('./images/background.webp') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
}

.App-header {
  background-color: #141414; /* Netflix dark background */
  padding: 20px;
  color: #e50914; /* Netflix red */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  overflow-x: auto;
  background-color: #141414; /* Netflix dark background */
}

.navigation-tabs a {
  margin: 0 15px;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #333333; /* Dark background for tabs */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navigation-tabs a:hover,
.navigation-tabs a.active {
  background-color: #e50914; /* Netflix red */
  color: #ffffff;
}

.search-bar {
  margin: 20px 0;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #e50914;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
}

.search-bar button {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #e50914;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #ff0a16;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  background-color: #141414; /* Netflix dark background */
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  width: 200px;
  color: #ffffff;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
}

.error {
  color: #e50914; /* Netflix red */
  margin: 20px;
}

/* src/components/LoadingSpinner.css */
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #e50914; /* Netflix red */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
